.galery-img{

    width:300px;
    object-fit: contain;
    border-radius: 20px;
    vertical-align: middle;
    transition: 0.2s;
    
 
}
.img-container{
    overflow:auto;
    display:inline-block; 
    cursor: pointer;
    

}
.upload{
 
    /* width: 100%; */
    height: 140px;
    /* margin-bottom: 10px; */
    background-color: coral;

    color: white;
    font-weight: bold;
    border: transparent 1px solid;
    border-radius: 10px;
 padding-top: 20px;
 position: absolute;
 opacity: 0;
 cursor: pointer;

}
.upload-style{
    width:300px;
    height: 155px;
    margin-bottom: 10px;
    background-color: coral;
    font-size: 19px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
    cursor: pointer;
    transition: 0.5s;
}

.img-container img:hover{

 opacity: 0.7;
}

.galery-container{
 
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    height:calc(100vw *0.7);
    /* height: calc( var(--windowHeight) / 2 ); */
	 width: 100vw; 

    gap:10px;
    margin: 20px;

    justify-content: stretch;
    align-items: stretch;
    opacity: 1;
    transition:1s ;
 
   
 
}
@media screen and (max-width: 500px) {
  .galery-container{
    height:calc(100vw *0.5);
  }
}
.search-text{
   
  
    display: flex;
    gap:10px;
    flex-basis: 50%;
      justify-content: center;
      align-items: center;
      width: 60%;
}
.search-input{
    display: block;
    width: 90%;
    height: 40px;
    /* margin-bottom: 20px;
    margin-top: 20px; */
    padding: 15px;
    border: transparent 1px solid;
    border-radius: 20px;
    /* border-bottom: 2px solid coral; */
    transition: 1s;
}
.search-kind{
    display: flex;
    gap: 20px;
    justify-content: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  border-bottom: 2px solid coral;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

  .search{
      display: flex;
      gap:10px;
      flex-basis: 50%;
        justify-content: center;
   align-items: center;
        flex-wrap: wrap;
  }
  .search-item{
  color: coral;
  cursor: pointer;
  transition: 1s;
}
.search-item:hover{
 color: chocolate;
 border-bottom: 1px solid chocolate;
}
@media (min-width:1200px){
    .search-kind{
        flex-direction: row;
    }
  

}