.galery-img{

    max-width:300px;
    object-fit: contain;
    border-radius: 20px;
    vertical-align: middle;
    transition: 0.5s;
    
 
}
.img-container{
    overflow:auto;
    display:inline-block; 
    
    

}
.img-container img:hover{
    border: 2px solid coral;
}
.galery-container{
    /* max-width: 1000px; */
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    height: 100vw;
	 width: 100%; 

    gap:10px;
    margin: 20px;

    justify-content: flex-start;
    align-items: center;

    opacity: 1;
    transition:1s ;

   
  
 
}
.search-text{
    display: block;
    position: absolute;
    top:110px;
   left: 50%;
   transform: translateX(-50%);
    margin: auto;
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    padding: 15px;
    border: transparent 1px solid;
    border-radius: 20px;
    transition: 1s;
}