
/*main*/
.main-meme{
/* position: fixed; */
    /* display: flex; */
    
    flex-direction: column;
    justify-content: center;
    /* opacity: 0; */
    /* pointer-events: none; */
    transition: 1s;
    padding-top: 30px;
    left: 50%;
    display: none;
    /* transform: translateX(-50%); */
}

.show{
    opacity: 1;
    pointer-events: unset;
}

.back{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 119px;
   
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 16px;
    color: coral;
    /* background-color: white; */
    padding-inline-start: 15px;
    font-weight: bold;
    border: transparent 1px solid;
   
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.back:hover{
background-color: coral;
color: white;
}
.canvas-container{

    margin: 0 auto;
    max-width: 90%;
    
}
#my-canvas{
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.canvas-options{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* transform: translateX(-9%); */
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
 
}

.text-actions{
    display: flex;

    align-items: center;

    margin-bottom: 10px;

}

.edit-text{
    justify-self: end;
    flex-basis: 50%;
}

.action{
   flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.text-count{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-style{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.font-family-select{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.action-btn:hover{
    background-color: coral;
}
.action-btn{
    height: 30px;
    width: 30px;
    padding: 2px;
    font-size: 20px;
    background-color: transparent;
    border: transparent 1px solid;
    cursor: pointer;
    border-radius: 3px;
    transition: 1s;

}

.action-icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.input-text{
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 15px;
    border: transparent 1px solid;
    border-bottom: black 1px solid;
}

.font-color{
    width: 20px;
    opacity: 0;
    position: absolute;
}

.font-color-btn,.strok-color-btn{
    display: flex;
  
}

.feachure{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 20px;
    justify-content: center;
}

.emoji-feachure{

    font-size: 40px;
}

.save-btn{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: coral;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: transparent 1px solid;
    border-radius: 10px;
    flex: 1;

}

.save-btn a{
    display: block;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}


@media (min-width:1200px) {

    .main-meme{
        left: 0;
        transform: translateX(0);
        flex-direction: row;
       justify-content: center;
       gap:30px
    }
    .back{
        top:-19px;
    }
    .canvas-container{
        margin-inline-start: 9%;
        max-width: 50%;
    }
    .canvas-options{
        flex-basis: 50%;
        margin-inline-end: 5%;
    }
    .save-share{
display: flex;
gap:10px
    }
}

.flex{
    display: flex;
}