*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(231, 231, 231);
    background-image: url('../img/back.jpg');
    background-size: cover;

    height: 100vh;;
}
body.rtl {
  direction: rtl;
}
body.rtl .lang-select {
  transform: translateX(0%);
}


/*fonts*/
@font-face {
    font-family: anton;
    src: url(../fonts/Anton-Regular.ttf);
  }
  
  @font-face {
    font-family: dancing;
    src: url(../fonts/DancingScript-Bold.ttf);
  }
  
  @font-face {
    font-family: eurofurence;
    src: url(../fonts/eurofurence/eurof55.ttf);
  }
  @font-face {
    font-family: Stint;
    src: url(../fonts/StintUltraCondensed-Regular.ttf);
  }

.main-header {
    height: 90px;
    background-color:coral;
    color: white;
    position: relative;
    z-index: 10;
    margin-bottom: 50px;
    border-bottom: 1px solid coral;
   
  }

  .main-header .logo img {
    padding-top: 7px;
      display: block;
      width: 250px;
      margin-inline-start: 20px;
      margin-top: 13px;

  }

  .main-nav{
    flex-direction: column;
  }

  .card-menu-btn{
      margin-top: 30px;
 
    position: absolute;
    right:40px;
  }

  .focus{
    box-shadow: inset  0px -6px  0px #ffffff;;
  }

  .main-nav,.header-container {
    height: inherit;
  }
  
  .main-header .main-nav a{
    vertical-align: calc(-65px + 1rem/2);
    
} 

  .main-header .main-nav > * {

      width: 135px;
    /* border-inline-start: 1px solid #1e1e1e; */
    transition: all 0.15s;
    list-style-type: none;
    
  }

.main-header .main-nav li:hover .main-link {
   /* box-shadow: inset  0px -6px  0px #ffffff;; */
   font-weight: bolder;

  }


  .main-header .main-nav a { 
 
    display: block;
    text-decoration: none;
    color: #fff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:coral ;
    
  }

  .action-btn{
    height: 30px;
    width: 30px;
    padding: 2px;
    font-size: 20px;
    background-color: transparent;
    border: transparent 1px solid;

}

.action-icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

  .nav-links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    
    background-color: coral;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.6s;
  }

  .hide{
    display: none;
  }


  .close-menu-btn{
    display: block;
    position: absolute;
    background-color: coral;
    color: white;
    border: none;
    z-index: 999;
    cursor: pointer;
    font-size: 20px;
    top:10px;
    right: 20px;
  }
  .lang-select{
    display: block;
    margin: auto;
    height: 30px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 5px;
  background-color: coral;
  border: none;
  border-bottom: white 1px solid;
  color: #fff;
  font-size: 16px;
  z-index: 999;
  }
  .lang-select :hover{
    background-color: #fff;
    color: coral;
  }
  body.rtl .card-menu-btn {
    left: 39px;
    right: unset;
  }
  
  .menu-open .nav-links {
    transform: translateX(0);
  }
  @media (min-width:570px){
    .lang-select{
      position: absolute;
      top: 30px;
      right: 50%;
      transform: translateX(100%);
      background-color: coral;
      border-radius: 0px;
    }
  }


  @media (min-width:1200px) {
    body.rtl .lang-select {
      transform: translateX(100%);
    }
    .main-header{
      
     
        position: relative;
        background-color: coral;
        padding: 0;
        
    }
    .main-nav{
        flex-direction: row;
        margin: 0;
      }
      .nav-links {
          background-color: transparent;
      }
      .main-header .main-nav {
          height: 100%;
          flex-direction: row;
          position: absolute;
          top:0;
          padding-inline-start: 65vw;
    
        
      }
      .card-menu-btn{
          display: none;
      }
      .close-menu-btn{
          display: none;
      }
    .nav-links{
        position: absolute;
        top:0;
        height: 90px;
        width: 100vw;
    
        transform: translateX(0);
      }
      .lang-select{
        transform: translateX(0%);
      }
    }
    
    .flex{
        display: flex;
    }
    .main-logo{
height: 100vh;
width: 100vw;
    }
  .my-logo{
    height:400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  }